@import "tailwindcss";

/* 1. Tell Tailwind v4 to treat 'dark:' as looking for the .dark class */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Set the browser color scheme (fixes scrollbars) */
@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}



/* Scrollbar */

/* Scrollbar width */
::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    transparent,
    #A855F7,
    transparent
  );
  border-radius: 999px;
}

/* Optional hover state */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    transparent,
    #9333EA,
    transparent
  );
}

