@import "tailwindcss";

/* 1. Tell Tailwind v4 to treat 'dark:' as looking for the .dark class */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Set the browser color scheme (fixes scrollbars) */
@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}



/* Scrollbar */

/* Ultra-thin scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

/* Transparent track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #A855F7;
  border-radius: 999px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
  background-color: #7E22CE;
}
